<div class="container" ng-controller="ProductsController">
    <div class="col d-flex flex-shrink-0 mb-2 mb-md-0 justify-content-between gap-2">
       <div class="d-flex justify-content-between w100 mb-3">
          <div class="d-flex gap-2 align-items-center">
             <h4 class="display-6 mb-0 pt-2 d-flex gap-2 align-items-center title-page">
                <svg opacity="0.8" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 2L3 6v14c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2V6l-3-4H6zM3.8 6h16.4M16 10a4 4 0 1 1-8 0"></path></svg>

                <strong>Products {{ items.length }}</strong>
             </h4>
             <!-- <div class="text-muted pt-2">Your all contacts</div> -->
          </div>
          <div class="d-flex gap-2 align-items-center">
             <div href="./products" class="height38 chip-set text-decoration-none dn reset_search">
                <div class="chip"> Reset Search <i class="chip-close-icon material-icons">cancel</i> </div>
             </div>
             <a href="./contacts-add" class="btn btn-outline-dark btn-action" type="button" data-bs-toggle="modal" data-bs-target="#SearchModal">Search</a>
             <a href="./products-add" class="btn btn-dark btn-action" type="button">Add New</a>
          </div>
       </div>
       <!-- SEARCH Modal-->
       <div class="modal fade" id="SearchModal" tabindex="-1" aria-labelledby="SearchModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
             <div class="modal-content">
                <div class="modal-header">
                   <h5 class="modal-title" id="SearchModal">Search</h5>
                   <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body vh100 p-3">
                   <div class="gap-3">
                      <mwc-select outlined label="Search by" class="search_by w-100 mb-3">
                         <mwc-list-item value="email" selected>Email</mwc-list-item>
                         <mwc-list-item value="mobile">Mobile</mwc-list-item>
                         <mwc-list-item value="first_name">First Name</mwc-list-item>
                         <mwc-list-item value="last_name">Last Name</mwc-list-item>
                         <mwc-list-item value="country">Country</mwc-list-item>
                      </mwc-select>
                      <mwc-textfield class="search_text w-100 mb-3" label="" outlined icon="search" placeholder="Search text"></mwc-textfield>
                   </div>
                </div>
                <div class="modal-footer">
                   <button class="btn btn-text-primary me-2" type="button" data-bs-dismiss="modal">Cancel</button>
                   <button class="btn btn-primary search" type="button">Search</button>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="row g-2">
       <div class="fixed-columns bg-white p-3 contacts dn">
          <div class="">
             <table id="table" class="table table-striped table-hover">
                <thead class="">
                   <tr>
                      <th>No</th>
                      <th>
                         <div class="form-check pt-1">
                            <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                         </div>
                      </th>
                      <th>Status</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Mobile</th>
                      <th>Country Code</th>
                      <th>Action</th>
                   </tr>
                </thead>
                <tbody>
                   <tr ng-repeat="i in items" class="item_{{i.user_id}}">
                      <td>{{$index + 1}}</td>
                      <th>
                         <div class="form-check">
                            <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                         </div>
                      </th>
                      <td>
                         <div class="form-check form-switch">
                            <input class="form-check-input" id="checked" type="checkbox" checked>
                            <label class="form-check-label" for="checked"></label>
                         </div>
                         <script>
                            if($("#checked").is(':checked')) console.log("Checked");
                            else console.log("Not Checked");
                         </script>
                      </td>
                      <td><a href="./contacts/{{i.user_id}}">{{i.first_name}} {{i.last_name}}</a></td>
                      <td>{{i.email}}</td>
                      <td>{{i.mobile}}</td>
                      <td>{{i.country_code}}</td>
                      <td class="d-flex justify-content-center gap-3 btn-table-action">
                         <a href="./contacts/{{i.user_id}}" class="btn btn-dark btn-sm gap-2 d-flex align-items-center p-2 pe-4 justify-content-center btn-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                               <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path>
                               <polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
                            </svg>
                            Edit
                         </a>
                         <button ng-click="selectInfo(i.user_id)" class="btn btn-outline-dark btn-sm gap-2 d-flex align-items-center p-1 pe-2 justify-content-center btn-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                               <polyline points="3 6 5 6 21 6"></polyline>
                               <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                               <line x1="10" y1="11" x2="10" y2="17"></line>
                               <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                            Del
                         </button>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
       <!-- NOT FOUND -->
       <notfound class="notfound dn"></notfound>
    </div>