<style>header,footer{display:none}</style>
<div class="row g-0 justify-content-md-center mt-5">
    <div class="col-lg-4 col-md-6">
       <div class="card p-5 text--center">
         <form action="./login" method="post" onsubmit="loading_button()">
            <div class="svg-container text-center">    
                <svg style="margin: 20px 0;" class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 48 48" aria-hidden="true">
                    <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22"/>
                    <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/>
                </svg>
            </div>
            <h3 class="text-center"><strong>Signup Successful</strong></h3>
            <p class="text-center">Thank you for signup your account is ready! <br /> to proceed please login from below.</p>
            <div class="text-center">
            <button id="submit" class="dark btn btn-dark" type="submit"><span class="button__text">Log in Now</span></button>
            </div> 
           </form>
       </div>
    </div>
 </div>