<style>
   header,footer,.navbar,#layoutDrawer_nav,.sb-customizer{display:none}
   body{background:#0031bc!important}
   </style>
   <div class="bg-primary" id="layoutAuthentication" ng-controller="SignupController">
      <!-- Layout content-->
      <div id="layoutAuthentication_content">
          <!-- Main page content-->
          <main>
              <!-- Main content container-->
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                        <div class="row g-0 mt-5 mt-xl-10">
                           <div class="col-md-5">
                              <a class="back_button" onclick="history.back()" href="javascript:void(0)">
                                 <svg width="24" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg" class="Icon-sc-c98r68-0 bmqiTo Icon-sc-c98r68-1 kMfJYW">
                                    <path fill="#fff" fill-rule="evenodd" clip-rule="evenodd" d="M10.28 19.28a.75.75 0 01-1.06 0l-7-7a.751.751 0 01-.072-.083h-.001A.742.742 0 012 11.753v-.004-.004a.748.748 0 01.22-.526l7-7 .084-.073a.75.75 0 01.976.073l.073.084a.75.75 0 01-.073.976L4.561 11H20.75l.102.007a.75.75 0 01-.102 1.493H4.561l5.72 5.72.072.084a.75.75 0 01-.073.976z" fill="#101928"></path>
                                 </svg>
                              </a>
                           </div>
                           <div class="col-md-7">
                            </div>
                        </div>
                          <div class="card card-raised shadow-10 mt-3 mb-4">
                              <div class="card-body p-3">
                                  <!-- Auth header with logo image-->
                                  <div class="text-center">
                                      <img class="mb-3" src="./assets/img/icons/background.svg" alt="..." style="height: 48px">
                                      <h1 class="display-5 mb-0">Signup</h1>
                                      <div class="subheading-1 mb-5">to continue to {{appname}}</div>
                                  </div>
                                  <!-- Login submission form-->
                                  <form action="" id="signup" method="post" onsubmit="loading_button()">

                                    <div class="row">
                                       <div class="mb-4 col-md-6"><mwc-textfield class="first_name w-100" label="First Name" outlined=""></mwc-textfield></div>
                                       <div class="mb-4 col-md-6"><mwc-textfield class="last_name w-100" label="Last Name" outlined=""></mwc-textfield></div>
                                       <div class="mb-4 col-md-6"><mwc-textfield class="email w-100" label="Email" outlined="" type="email"></mwc-textfield></div>
                                       <div class="mb-4 col-md-6"><mwc-textfield class="password w-100" label="Password" outlined="" icontrailing="visibility_off" type="password"></mwc-textfield></div>
                                       <div class="mb-4 col-md-6">

                                         <mwc-select outlined label="Country Code" class="country w-100">

                                             <mwc-list-item data-countryCode="PK" value="92" selected>Pakistan (+92)</mwc-list-item>
                                             <mwc-list-item data-countryCode="GB" value="44">UK (+44)</mwc-list-item>
                                             <mwc-list-item data-countryCode="US" value="1">USA (+1)</mwc-list-item>
                                                <mwc-list-item data-countryCode="DZ" value="213">Algeria (+213)</mwc-list-item>
                                                <mwc-list-item data-countryCode="AD" value="376">Andorra (+376)</mwc-list-item>
                                                <mwc-list-item data-countryCode="AO" value="244">Angola (+244)</mwc-list-item>
                                                <mwc-list-item data-countryCode="AI" value="1264">Anguilla (+1264)</mwc-list-item>
                                                <mwc-list-item data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</mwc-list-item>
                                                <mwc-list-item data-countryCode="AR" value="54">Argentina (+54)</mwc-list-item>
                                                <mwc-list-item data-countryCode="AM" value="374">Armenia (+374)</mwc-list-item>
                                                <mwc-list-item data-countryCode="AW" value="297">Aruba (+297)</mwc-list-item>
                                                <mwc-list-item data-countryCode="AU" value="61">Australia (+61)</mwc-list-item>
                                                <mwc-list-item data-countryCode="AT" value="43">Austria (+43)</mwc-list-item>
                                                <mwc-list-item data-countryCode="AZ" value="994">Azerbaijan (+994)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BS" value="1242">Bahamas (+1242)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BH" value="973">Bahrain (+973)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BD" value="880">Bangladesh (+880)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BB" value="1246">Barbados (+1246)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BY" value="375">Belarus (+375)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BE" value="32">Belgium (+32)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BZ" value="501">Belize (+501)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BJ" value="229">Benin (+229)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BM" value="1441">Bermuda (+1441)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BT" value="975">Bhutan (+975)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BO" value="591">Bolivia (+591)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BW" value="267">Botswana (+267)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BR" value="55">Brazil (+55)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BN" value="673">Brunei (+673)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BG" value="359">Bulgaria (+359)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BF" value="226">Burkina Faso (+226)</mwc-list-item>
                                                <mwc-list-item data-countryCode="BI" value="257">Burundi (+257)</mwc-list-item>
                                                <mwc-list-item data-countryCode="KH" value="855">Cambodia (+855)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CM" value="237">Cameroon (+237)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CA" value="1">Canada (+1)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CV" value="238">Cape Verde Islands (+238)</mwc-list-item>
                                                <mwc-list-item data-countryCode="KY" value="1345">Cayman Islands (+1345)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CF" value="236">Central African Republic (+236)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CL" value="56">Chile (+56)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CN" value="86">China (+86)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CO" value="57">Colombia (+57)</mwc-list-item>
                                                <mwc-list-item data-countryCode="KM" value="269">Comoros (+269)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CG" value="242">Congo (+242)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CK" value="682">Cook Islands (+682)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CR" value="506">Costa Rica (+506)</mwc-list-item>
                                                <mwc-list-item data-countryCode="HR" value="385">Croatia (+385)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CU" value="53">Cuba (+53)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CY" value="90392">Cyprus North (+90392)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CY" value="357">Cyprus South (+357)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CZ" value="42">Czech Republic (+42)</mwc-list-item>
                                                <mwc-list-item data-countryCode="DK" value="45">Denmark (+45)</mwc-list-item>
                                                <mwc-list-item data-countryCode="DJ" value="253">Djibouti (+253)</mwc-list-item>
                                                <mwc-list-item data-countryCode="DM" value="1809">Dominica (+1809)</mwc-list-item>
                                                <mwc-list-item data-countryCode="DO" value="1809">Dominican Republic (+1809)</mwc-list-item>
                                                <mwc-list-item data-countryCode="EC" value="593">Ecuador (+593)</mwc-list-item>
                                                <mwc-list-item data-countryCode="EG" value="20">Egypt (+20)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SV" value="503">El Salvador (+503)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GQ" value="240">Equatorial Guinea (+240)</mwc-list-item>
                                                <mwc-list-item data-countryCode="ER" value="291">Eritrea (+291)</mwc-list-item>
                                                <mwc-list-item data-countryCode="EE" value="372">Estonia (+372)</mwc-list-item>
                                                <mwc-list-item data-countryCode="ET" value="251">Ethiopia (+251)</mwc-list-item>
                                                <mwc-list-item data-countryCode="FK" value="500">Falkland Islands (+500)</mwc-list-item>
                                                <mwc-list-item data-countryCode="FO" value="298">Faroe Islands (+298)</mwc-list-item>
                                                <mwc-list-item data-countryCode="FJ" value="679">Fiji (+679)</mwc-list-item>
                                                <mwc-list-item data-countryCode="FI" value="358">Finland (+358)</mwc-list-item>
                                                <mwc-list-item data-countryCode="FR" value="33">France (+33)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GF" value="594">French Guiana (+594)</mwc-list-item>
                                                <mwc-list-item data-countryCode="PF" value="689">French Polynesia (+689)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GA" value="241">Gabon (+241)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GM" value="220">Gambia (+220)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GE" value="7880">Georgia (+7880)</mwc-list-item>
                                                <mwc-list-item data-countryCode="DE" value="49">Germany (+49)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GH" value="233">Ghana (+233)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GI" value="350">Gibraltar (+350)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GR" value="30">Greece (+30)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GL" value="299">Greenland (+299)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GD" value="1473">Grenada (+1473)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GP" value="590">Guadeloupe (+590)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GU" value="671">Guam (+671)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GT" value="502">Guatemala (+502)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GN" value="224">Guinea (+224)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GW" value="245">Guinea - Bissau (+245)</mwc-list-item>
                                                <mwc-list-item data-countryCode="GY" value="592">Guyana (+592)</mwc-list-item>
                                                <mwc-list-item data-countryCode="HT" value="509">Haiti (+509)</mwc-list-item>
                                                <mwc-list-item data-countryCode="HN" value="504">Honduras (+504)</mwc-list-item>
                                                <mwc-list-item data-countryCode="HK" value="852">Hong Kong (+852)</mwc-list-item>
                                                <mwc-list-item data-countryCode="HU" value="36">Hungary (+36)</mwc-list-item>
                                                <mwc-list-item data-countryCode="IS" value="354">Iceland (+354)</mwc-list-item>
                                                <mwc-list-item data-countryCode="IN" value="91">India (+91)</mwc-list-item>
                                                <mwc-list-item data-countryCode="ID" value="62">Indonesia (+62)</mwc-list-item>
                                                <mwc-list-item data-countryCode="IR" value="98">Iran (+98)</mwc-list-item>
                                                <mwc-list-item data-countryCode="IQ" value="964">Iraq (+964)</mwc-list-item>
                                                <mwc-list-item data-countryCode="IE" value="353">Ireland (+353)</mwc-list-item>
                                                <mwc-list-item data-countryCode="IL" value="972">Israel (+972)</mwc-list-item>
                                                <mwc-list-item data-countryCode="IT" value="39">Italy (+39)</mwc-list-item>
                                                <mwc-list-item data-countryCode="JM" value="1876">Jamaica (+1876)</mwc-list-item>
                                                <mwc-list-item data-countryCode="JP" value="81">Japan (+81)</mwc-list-item>
                                                <mwc-list-item data-countryCode="JO" value="962">Jordan (+962)</mwc-list-item>
                                                <mwc-list-item data-countryCode="KZ" value="7">Kazakhstan (+7)</mwc-list-item>
                                                <mwc-list-item data-countryCode="KE" value="254">Kenya (+254)</mwc-list-item>
                                                <mwc-list-item data-countryCode="KI" value="686">Kiribati (+686)</mwc-list-item>
                                                <mwc-list-item data-countryCode="KP" value="850">Korea North (+850)</mwc-list-item>
                                                <mwc-list-item data-countryCode="KR" value="82">Korea South (+82)</mwc-list-item>
                                                <mwc-list-item data-countryCode="KW" value="965">Kuwait (+965)</mwc-list-item>
                                                <mwc-list-item data-countryCode="KG" value="996">Kyrgyzstan (+996)</mwc-list-item>
                                                <mwc-list-item data-countryCode="LA" value="856">Laos (+856)</mwc-list-item>
                                                <mwc-list-item data-countryCode="LV" value="371">Latvia (+371)</mwc-list-item>
                                                <mwc-list-item data-countryCode="LB" value="961">Lebanon (+961)</mwc-list-item>
                                                <mwc-list-item data-countryCode="LS" value="266">Lesotho (+266)</mwc-list-item>
                                                <mwc-list-item data-countryCode="LR" value="231">Liberia (+231)</mwc-list-item>
                                                <mwc-list-item data-countryCode="LY" value="218">Libya (+218)</mwc-list-item>
                                                <mwc-list-item data-countryCode="LI" value="417">Liechtenstein (+417)</mwc-list-item>
                                                <mwc-list-item data-countryCode="LT" value="370">Lithuania (+370)</mwc-list-item>
                                                <mwc-list-item data-countryCode="LU" value="352">Luxembourg (+352)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MO" value="853">Macao (+853)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MK" value="389">Macedonia (+389)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MG" value="261">Madagascar (+261)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MW" value="265">Malawi (+265)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MY" value="60">Malaysia (+60)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MV" value="960">Maldives (+960)</mwc-list-item>
                                                <mwc-list-item data-countryCode="ML" value="223">Mali (+223)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MT" value="356">Malta (+356)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MH" value="692">Marshall Islands (+692)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MQ" value="596">Martinique (+596)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MR" value="222">Mauritania (+222)</mwc-list-item>
                                                <mwc-list-item data-countryCode="YT" value="269">Mayotte (+269)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MX" value="52">Mexico (+52)</mwc-list-item>
                                                <mwc-list-item data-countryCode="FM" value="691">Micronesia (+691)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MD" value="373">Moldova (+373)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MC" value="377">Monaco (+377)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MN" value="976">Mongolia (+976)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MS" value="1664">Montserrat (+1664)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MA" value="212">Morocco (+212)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MZ" value="258">Mozambique (+258)</mwc-list-item>
                                                <mwc-list-item data-countryCode="MN" value="95">Myanmar (+95)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NA" value="264">Namibia (+264)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NR" value="674">Nauru (+674)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NP" value="977">Nepal (+977)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NL" value="31">Netherlands (+31)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NC" value="687">New Caledonia (+687)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NZ" value="64">New Zealand (+64)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NI" value="505">Nicaragua (+505)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NE" value="227">Niger (+227)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NG" value="234">Nigeria (+234)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NU" value="683">Niue (+683)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NF" value="672">Norfolk Islands (+672)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NP" value="670">Northern Marianas (+670)</mwc-list-item>
                                                <mwc-list-item data-countryCode="NO" value="47">Norway (+47)</mwc-list-item>
                                                <mwc-list-item data-countryCode="OM" value="968">Oman (+968)</mwc-list-item>
                                                <mwc-list-item data-countryCode="PW" value="680">Palau (+680)</mwc-list-item>
                                                <mwc-list-item data-countryCode="PA" value="507">Panama (+507)</mwc-list-item>
                                                <mwc-list-item data-countryCode="PG" value="675">Papua New Guinea (+675)</mwc-list-item>
                                                <mwc-list-item data-countryCode="PY" value="595">Paraguay (+595)</mwc-list-item>
                                                <mwc-list-item data-countryCode="PE" value="51">Peru (+51)</mwc-list-item>
                                                <mwc-list-item data-countryCode="PH" value="63">Philippines (+63)</mwc-list-item>
                                                <mwc-list-item data-countryCode="PL" value="48">Poland (+48)</mwc-list-item>
                                                <mwc-list-item data-countryCode="PT" value="351">Portugal (+351)</mwc-list-item>
                                                <mwc-list-item data-countryCode="PR" value="1787">Puerto Rico (+1787)</mwc-list-item>
                                                <mwc-list-item data-countryCode="QA" value="974">Qatar (+974)</mwc-list-item>
                                                <mwc-list-item data-countryCode="RE" value="262">Reunion (+262)</mwc-list-item>
                                                <mwc-list-item data-countryCode="RO" value="40">Romania (+40)</mwc-list-item>
                                                <mwc-list-item data-countryCode="RU" value="7">Russia (+7)</mwc-list-item>
                                                <mwc-list-item data-countryCode="RW" value="250">Rwanda (+250)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SM" value="378">San Marino (+378)</mwc-list-item>
                                                <mwc-list-item data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SA" value="966">Saudi Arabia (+966)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SN" value="221">Senegal (+221)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CS" value="381">Serbia (+381)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SC" value="248">Seychelles (+248)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SL" value="232">Sierra Leone (+232)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SG" value="65">Singapore (+65)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SK" value="421">Slovak Republic (+421)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SI" value="386">Slovenia (+386)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SB" value="677">Solomon Islands (+677)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SO" value="252">Somalia (+252)</mwc-list-item>
                                                <mwc-list-item data-countryCode="ZA" value="27">South Africa (+27)</mwc-list-item>
                                                <mwc-list-item data-countryCode="ES" value="34">Spain (+34)</mwc-list-item>
                                                <mwc-list-item data-countryCode="LK" value="94">Sri Lanka (+94)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SH" value="290">St. Helena (+290)</mwc-list-item>
                                                <mwc-list-item data-countryCode="KN" value="1869">St. Kitts (+1869)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SC" value="1758">St. Lucia (+1758)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SD" value="249">Sudan (+249)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SR" value="597">Suriname (+597)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SZ" value="268">Swaziland (+268)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SE" value="46">Sweden (+46)</mwc-list-item>
                                                <mwc-list-item data-countryCode="CH" value="41">Switzerland (+41)</mwc-list-item>
                                                <mwc-list-item data-countryCode="SI" value="963">Syria (+963)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TW" value="886">Taiwan (+886)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TJ" value="7">Tajikstan (+7)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TH" value="66">Thailand (+66)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TG" value="228">Togo (+228)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TO" value="676">Tonga (+676)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TN" value="216">Tunisia (+216)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TR" value="90">Turkey (+90)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TM" value="7">Turkmenistan (+7)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TM" value="993">Turkmenistan (+993)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</mwc-list-item>
                                                <mwc-list-item data-countryCode="TV" value="688">Tuvalu (+688)</mwc-list-item>
                                                <mwc-list-item data-countryCode="UG" value="256">Uganda (+256)</mwc-list-item>
                                                <!-- <mwc-list-item data-countryCode="GB" value="44">UK (+44)</mwc-list-item> -->
                                                <mwc-list-item data-countryCode="UA" value="380">Ukraine (+380)</mwc-list-item>
                                                <mwc-list-item data-countryCode="AE" value="971">United Arab Emirates (+971)</mwc-list-item>
                                                <mwc-list-item data-countryCode="UY" value="598">Uruguay (+598)</mwc-list-item>
                                                <!-- <mwc-list-item data-countryCode="US" value="1">USA (+1)</mwc-list-item> -->
                                                <mwc-list-item data-countryCode="UZ" value="7">Uzbekistan (+7)</mwc-list-item>
                                                <mwc-list-item data-countryCode="VU" value="678">Vanuatu (+678)</mwc-list-item>
                                                <mwc-list-item data-countryCode="VA" value="379">Vatican City (+379)</mwc-list-item>
                                                <mwc-list-item data-countryCode="VE" value="58">Venezuela (+58)</mwc-list-item>
                                                <mwc-list-item data-countryCode="VN" value="84">Vietnam (+84)</mwc-list-item>
                                                <mwc-list-item data-countryCode="VG" value="84">Virgin Islands - British (+1284)</mwc-list-item>
                                                <mwc-list-item data-countryCode="VI" value="84">Virgin Islands - US (+1340)</mwc-list-item>
                                                <mwc-list-item data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)</mwc-list-item>
                                                <mwc-list-item data-countryCode="YE" value="969">Yemen (North)(+969)</mwc-list-item>
                                                <mwc-list-item data-countryCode="YE" value="967">Yemen (South)(+967)</mwc-list-item>
                                                <mwc-list-item data-countryCode="ZM" value="260">Zambia (+260)</mwc-list-item>
                                                <mwc-list-item data-countryCode="ZW" value="263">Zimbabwe (+263)</mwc-list-item>

                                         </mwc-select>

                                       </div>
                                       <div class="mb-4 col-md-6"><mwc-textfield class="mobile w-100" label="Mobile" outlined="" type="number"></mwc-textfield></div>

                                    </div>

                                      <!-- <div class="d-flex align-items-center">
                                          <mwc-formfield label="Remember password"><mwc-checkbox name=""></mwc-checkbox></mwc-formfield>
                                      </div> -->
                                      <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                       <p>Please read <a href="./terms"><small>Terms & Conditions</small></a> before signup</p>

                                          <!-- <a class="small fw-500 text-decoration-none" href="./forget-password">Forgot Password?</a> -->
                                      </div>
                                      <button id="submit" class="dark btn btn-primary mdc-ripple-upgraded btn-block" type="submit"><span class="button__text">Sign Up</span></button>

                                  </form>
                              </div>
                          </div>
                          <!-- Auth card message-->
                          <div class="text-center mb-5"><a class="small fw-500 text-decoration-none link-white" href="./login">Already have account? Login!</a></div>
                      </div>
                  </div>
              </div>
          </main>
      </div>

   </div>
   </div>